spring:
  application:
    name: ComputacaoDistribuida
  datasource:
    # Aponta para o seu Docker na porta 3307
    url: jdbc:mysql://localhost:3307/streaming_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
    username: user_streaming
    password: userpassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect